# collection of data structure types:
1. lists
2. tuple
3. set
4. dictionary

# list:
- one of the data structure in python
- data structure means to store,sort,search options
- its one common data structure in python, the items of list separated by comma and enclosed by square brackets.

## example
- list1 = [1,2,3,4]
- list2 = ["gitam",1,2,3]

In [8]:
list=[1,2,3,4,5]
print(list)
print(list[2])
print(list[-4])
print(list[2:])
print(list[2:4])
print(list[-3:-1])

[1, 2, 3, 4, 5]
3
2
[3, 4, 5]
[3, 4]
[3, 4]

In [14]:
li = ["prat",17,91,71,"hyd"]
print(li)
print(li[4][1])

['prat', 17, 91, 71, 'hyd']
y

In [15]:
list1 = [1,222,333,4444]
list1[1] = 22
print(list1)

[1, 22, 333, 4444]

In [20]:
list2 = [34,56,67,44,79]
print(max(list2))
print(min(list2))
print(sum(list2))
print(len(list2))
print(sum(list2)//len(list2))

79
34
280
5
56

In [29]:
a = [4,2,9,6,5,3]
a.append(56)
a.insert(2,7)
a.count(56)
a.index(2)
a.sort()
a.pop()

56

In [33]:
p = [12,34,56,78]
r = [13,35,57,79]
#p.extend(r)
p.reverse()
p

[78, 56, 34, 12]

In [35]:
def largenum(aa):
    aa.sort()
    return aa[-1]
def genericlarge(aa,t):
    aa.sort()
    return aa[-t]
aa=[21,56,34,12,78]
print(largenum(aa))
print(genericlarge(aa,3))

78
34

# tuple
- it is one common data structure in python,the items of tuple separated by comma and enclosed by paranthesis()
## example
- t=(1,2,3,4)

# list and tuple
- list is mutable - can be modified
- list can be modified,delte,update,add
- tuple are immutable - cannot be modofied
- tuple used access data only

In [38]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

# dictionary
- it works on concept of set unique data
- dictionary contains keys and values
- each key and value separated by comma
- each key is separated from its value with colon(:)

In [39]:
d1 = {"name":"prat","email":"prat@in","address":"hyderabad"}
d1

{'name': 'prat', 'email': 'prat@in', 'address': 'hyderabad'}

In [43]:
d1["name"]='praat'
d1

{'name': 'praat', 'email': 'prat@in', 'address': 'hyderabad'}

In [44]:
d1['rollno']="221710311017"
d1

{'name': 'praat',
 'email': 'prat@in',
 'address': 'hyderabad',
 'rollno': '221710311017'}

In [45]:
del d1['email']
d1

{'name': 'praat', 'address': 'hyderabad', 'rollno': '221710311017'}

In [46]:
d1.keys()

dict_keys(['name', 'address', 'rollno'])

In [47]:
d1.values()

dict_values(['praat', 'hyderabad', '221710311017'])

In [48]:
d1.items()

dict_items([('name', 'praat'), ('address', 'hyderabad'), ('rollno', '221710311017')])

# strings:

In [50]:
s1 = "python"
print(s1)
print(type(s1))

python
<class 'str'>

In [51]:
print(s1[0])

p

In [54]:
print(s1[len(s1)-2])

o

In [55]:
print(len(s1)-2)

4

In [56]:
print(s1[1:-1])

ytho

In [57]:
print(s1[len(s1)//2])

h

In [58]:
print(s1[::2])

pto

In [60]:
print(s1[::-1])

nohtyp

# string built in methods:
- upper
- lower
- islower
- isupper
- istitle
- isnumeric
- isalpha
- isspace

In [64]:
print(s1.upper())
print(s1.lower())
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())

PYTHON
python
True
False
False
False
True

In [66]:
s2 = "dj snake"
print(s2.isspace())

False

In [67]:
s3 = ' '
print(s3.isspace())

True

## string methods:
- join()
- split()
- replace()

In [70]:
s4 = "prat"
print("*".join(s4))

p*r*a*t

In [71]:
s5 = "prat is a music composer"
print(s5.split())

['prat', 'is', 'a', 'music', 'composer']

In [72]:
print(s5.replace("t",'at'))

praat is a music composer